@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    Banner
</div>
<ul>
   <li>@Html.ActionLink("Customer", "Index", "Customer")</li>
   <li>@Html.ActionLink("ViewBag", "Index", "MyViewBag")</li>
</ul>